<mat-card class="chart-container"
  [ngClass]="elevation" (mouseover)="elevation='mat-elevation-z4'" (mouseout)="elevation='mat-elevation-z2'"
>
  
  <ng-container *ngIf="availableData">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      >
    </ngx-charts-line-chart>

    <div class="legend-toggle-container"> 
      <button (click)="legend = !legend" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon >menu</mat-icon>
      </button>
    </div>
  </ng-container>

  <div *ngIf="!availableData" fxLayout="column" fxLayoutAlign="center center" style="margin: auto auto;">
    <mat-icon color="primary" style="font-size: 40px;">sentiment_dissatisfied</mat-icon>
    <p color="primary" style="font-size:20px">Data Not Available</p>
  </div>

</mat-card>


